{% extends '::main.html.twig' %}

{% block title %} {{ parent() }} | Новый заказ | Шаг 2{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block body %}
<div id="dashboard">
    <div class="scroll con">
        <div class="container" id="title">
            <div class="col_3">
                <div class="content">
                    <h1>Новый заказ</h1>
                </div>
            </div>
            <div class="col_7 omega">
                <div class="content">
                    <div class="container" id="description">
                        <div class="col_3"><span class="number">1.</span> <span class="text">Выбор <br />торговой точки</span></div>
                        <div class="col_3"><span class="number">2.</span> <span class="text">Выбор<br /> ассортимента</span></div>
                        <div class="col_3 active"><span class="number">3.</span> <span class="text">Свойства<br /> заказа</span></div>
                        <div class="col_3"><span class="number">4.</span> <span class="text">Подтверждение<br /> и отправка заказа</span></div>
                    </div>
                    <span class="progress-bar stripes">
                        <span class="green" style="width: 75%"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="container first-step" id="content">
            <div class="col_1">
                <br />
                <a class="icon-chevron-left nav prev" href="{{ url('step2') }}"></a>
            </div>
            <div class="col_10">
                
                <h2>Шаг 3. Пожалуйста отметьте атрибуты заказа</h2>
                <table>
                    <colgroup>
                        <col width="150">
                        <col width="300">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>Доставка</td>
                            <td>
                                <div id="datetimepicker1" class="input-append">
                                    <input data-format="dd/MM/yyyy hh:mm:ss" {% if info.time is defined %}  value="{{info.time}}"{% endif %} type="text"></input>
                                    <span class="add-on">
                                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      </i>
                                    </span>
                                  </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Тип отгрузки</td>
                            <td class="radio">
                                <input type="radio" {% if info.dev is defined %}{% if (info.dev == 1) or (info.dev is null) %}checked=""{% endif %}{% else %}checked=""{% endif %} name="dev" value=1 id="dev1"/><label for="dev1">По счет-фактуре</label><br />
                                <input type="radio" {% if info.dev is defined %}{% if info.dev == 2 %}checked=""{% endif %}{% endif %} name="dev" value=2 id="dev2"/><label for="dev2">Без счета-фактуры</label>
                                
                            </td>
                        </tr>

                        <tr>
                            <td>Оплата</td>
                            <td class="radio">
                                <input type="radio"{% if info.time is defined %} {% if (info.money == 1) or (info.money is null) %}checked=""{% endif %}{% else %}checked="" {% endif %}name="money" value=1 id="m1"/><label for="m1">Наличными водителю</label><br />
                                <input type="radio" {% if info.time is defined %}{% if info.money == 2 %}checked=""{% endif %}{% endif %} name="money" value=2 id="m2"/><label for="m2">Предоплата</label><br />
                                <input type="radio"{% if info.time is defined %} {% if info.money == 3 %}checked=""{% endif %}{% endif %} name="money" value=3 id="m3"/><label for="m3">Безналичный расчет</label><br />
                            </td>
                        </tr>

                        <tr>
                            <td>Комментарий</td>
                            <td><textarea id="comments">{% if info.comment is defined %}{{ info.comment }}{% endif %}</textarea></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div class="col_1">
                <br />
                <a class="icon-chevron-right nav next" href="{{url('step4')}}"></a>
            </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/chosen.js"></script>
    <script src="/static/scripts/chosen.ajaxaddition.js"></script>
    <script>
        $(document).ready(function(){
            
            
            $('a.nav.next, a.nav.prev').click(function(e){
                if($(this).hasClass('disable')) {
                    e.preventDefault();
                }
                else {
                    var order = $.cookie('order');
                    order.step3 = {
                        time : $('#datetimepicker1 input').val(),
                        dev : $('input[name="dev"]:checked').val(),
                        money : $('input[name="money"]:checked').val(),
                        comment : $('#comments').val()
                    }
                    //console.log(order.step3);
                    $.cookie('order', order, { expires: 2, path: '/' });
                    window.location.href = $(this).attr('href')
                }
                return false;
            })
            var order = $.cookie('order');

            if(order){
                if(order.step3&&order.step3!='') $('.nav.next').removeClass('disable')
            }

            $('#datetimepicker1 input').appendDtpicker({"locale": "ru","firstDayOfWeek": 1});
        })
    </script>
{% endblock %}